@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    background: rgb(70, 152, 207);
}

li {
    list-style: none;
}

.site {
    max-width: 1400px;
}

header {
    height: 100px;
}

header a {
    display: block;
    float: left;
    padding: 5px 15px;
    color: #fff;
    text-decoration: none;
}

.logo img {
    display: inline-block;
    width: 250px;
    filter: brightness(1000%);
    position: absolute;
    top: -20px;
    left: 20px;
}

.nav-desktop {
    display: none;
    text-align: right;
}

.nav-mobile {
    z-index: 1000;
    display: block;
    position: fixed;
    top: 0;
    right: -260px;
    width: 260px;
    height: 100vh;
    background: rgba(73, 160, 218, .8);
    transition: .7s ease;
}

.nav-mobile ul {
    padding: 50px 0;
    text-align: center;
}

.nav-mobile li a {
    display: block;
    width: 100%;
    padding: 15px 0;
}

.active {
    right: 0;
}

.burger {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    line-height: 30px;
    font-size: 2em;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
    background: none;
    border: none;
}

@media (min-width: 768px) {
    .nav-desktop {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .nav-desktop li {
        display: inline;
    }

    .nav-desktop li a {
        display: inline-block;
        margin: 0 1px;
        border-radius: 4px;
        transition: .3s ease;
    }
    
    .nav-desktop li a:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(73, 160, 218, .8);
    }

    .nav-mobile {
        display: none;
    }
}

.values {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    letter-spacing: 3px;
    color: #fff;
    padding: 120px 30px 30px 30px; }
    .values h1 {
      font-size: 22px;
      float: left;
      padding: 10px 30px;
      display: block;
      width: 320px;
      text-transform: uppercase; }
    .values i {
      font-size: 60px;
      padding-bottom: 40px;
      line-height: 100px; 
      transition: .2s;}

    .values i:hover {
        font-size: 65px;
    }

      .flex {
        border-top: 1px groove #232726;
        border-bottom: 1px groove #232726;
        margin-bottom: 100px; }
        .flex .stamp {
          text-align: center; }
        .flex img {
          max-width: 250px;
          float: left; }
        .flex h2 {
          margin-top: 70px;
          padding: 30px auto; }

.guarantee {
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.guarantee h2 {
    margin: 30px auto;
}

.quality {
    width: calc(100%-20px);
    max-width: 800px;
    margin: 30px auto;
}

.copy {
    margin-top: 80px;
    border-top: 1px solid #fff;
    padding: 10px;
}

.slideshow img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    margin: 0;
    z-index: 10;
}

.slideshow h2 {
    display: inline-block;
    background: linear-gradient(to right, rgba(73, 160, 218, .8), rgba(0, 0, 0, 0));
    position: relative;
    top: -100px;
    padding: 10px 100px 10px 20px;
}

@media (max-width: 767px) {
    .slideshow h2 {
        font-size: 1.4em;
    }
}

.slide-cover {
    display: block;
    position: absolute;
    top: 100px;
    width: 100%;
    height: 500px;
    background-color: rgba(73, 160, 218, .5);
    background-blend-mode: multiply;
    z-index: 1000;
    transition: .3s ease;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.slide-cover:hover {
    background-color: rgba(73, 160, 218, .1);
}

@media (max-width: 767px) {
    .slideshow img {
        height: calc(92vh - 100px);
    }
    .slide-cover {
        height: calc(92vh - 100px);
    }
}

.slick-dots {
    position: relative;
    top: -112px;
}

.slick-dots li button:before {
    color: rgb(70, 152, 207);
    opacity: 100;
}

.slick-dots li.slick-active button:before {
    color: #fff;
} 

